---
layout: default  # 기본 레이아웃으로 설정 (default 레이아웃 사용)
---
    
<section class="post-list">
  <h1 class="category-title">{{ page.title }}</h1> 
  <!-- 현재 페이지의 제목 출력 (예: SQL, Python 등 카테고리 이름) -->

  <ul>
    {% for category in site.categories %}
      <li>{{ category[0] }}
        <ul>
          {% assign grouped_posts = category[1] | group_by: "group" %}
          {% for group in grouped_posts %}
            <li>{{ group.name }} <!-- 그룹 이름 -->
              <ul>
                {% for post in group.items %}
                  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  
  
</section>


