<!DOCTYPE html>
<html lang="ko"> <!-- HTML 언어 설정: 한국어 -->
<head>
    {% include meta.html %}
    <title>{{ page.title }} | MINJI BLOG</title> 
    
    <!-- Highlight.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css" rel="stylesheet">
    <!-- Highlight.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- 하이라이트 활성화 -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll("pre code:not(.language-mermaid)").forEach((block) => {
                hljs.highlightElement(block); // Mermaid.js가 아닌 코드 블록만 하이라이트
            });
        });
    </script>
    

    <!-- KaTeX를 사용한 LaTeX 수식 렌더링 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/contrib/auto-render.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\(", right: "\\)", display: false},
                    {left: "\\[", right: "\\]", display: true}
                ]
            });
        });
    </script>

    <!-- Mermaid.js 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            mermaid.initialize({ startOnLoad: true }); // Mermaid.js만 활성화
        });
    </script>    
    

    <!-- CSS 파일 연결 (_config.yml의 baseurl을 사용하여 상대 경로 처리) -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

{% include header.html %}

<div class="layout-container">
    {% include sidebar.html %}
    <main class="{% if page.layout == 'post' %}post{% endif %}">
        {{ content }} 
        <!-- 각 페이지의 주요 콘텐츠를 삽입 -->
    </main>
</div>

{% include footer.html %}

<!-- JavaScript 파일 연결 -->
<script src="{{ "/assets/js/script.js" | prepend: site.baseurl }}" defer></script>

</body>
</html>
